*{
    padding: 0;
    margin: 0;
    outline: none;
    font-size: 25px;
    border: none;
    border-radius: 5px;
}

body {
    background-color: #29335C;    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

h2{
    color: #F15025;
    margin: 0.5rem 0 0 0;
}
.content, .embeds, .Autor, .InnerField, .Footer {
    margin: 0;
    display: grid;
    place-items: center;
    grid-template-columns: auto;
    grid-row-gap: 0.5rem;
}

.content input, .embeds input, .Footer input , .Autor input, .InnerField input {
    outline: none;
    height: 1.5rem;
}

.embeds, .Autor, .Footer {
    grid-column-gap: 0.5rem;
    grid-template-columns: auto auto;
} 

.InnerField {
    grid-column-gap: 0.5rem;
    grid-template-columns: 20px auto auto;
    margin: 1rem 0;
}

input {
    background-color: #669bbc;
    color: #000;
    text-align: center;
}

#Submit {
    color: #ff0000;
    background-color: #2e8b57;
    text-align: center;
}

#Submit:active {
    background-color: #ff0000;
    color: #2e8b57;
}

#Link {
    margin: 1rem 0 0 0;
    height: 1.5rem;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .embeds, .Autor, .Footer, .InnerField{
        grid-template-columns: auto;
    }
}

input::placeholder {
    color: #d84843c9;
    text-align: center;
  }

  input:invalid {
    background-color: #ffc0cb;
    border: 2px solid #f50c0c;
  }